<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<h2>Order {{number}}:</h2>
{{result}}
<form action="/orders/{{number}}" method="PUT" enctype="multipart/form-data">
    <p>Order id</p>
    <div>
       <textarea name="name" rows="1" ></textarea>
    </div>
    <p>Executor id</p>
    <div>
       <textarea name="description" rows="1" ></textarea>
    </div>
    <div>
       <input type="submit" value="Change order" class="button">
    </div>
</form>
</div>
<div>
<form action="/orders/{{number}}" method="DELETE" enctype="multipart/form-data">
    <div>
       <input type="submit" value="Delete order" class="button">
    </div>
</form>
</div>
</body>
</html>